<%- include ('partials/head.ejs') %>

<body>

    <%- include ('partials/header.ejs') %>

    <main>
        <h2>Não há <span><%= word + ' ' + blood %></span></h2>
        <a href="/"><button id="btnLimpar">Voltar</button></a>
    </main>
    <%- include ('partials/footer.ejs') %>
</body>

</html>