<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doe sangue! Doe vida</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <img class="logo" src="/img/logo.png" alt="Imagem Doe">
        <h2>A sua doação importa</h2>
        <p>Até 3 vidas com uma doação</p>
        <p>Mais de 38.000 doações são necessárias todos os dias</p>
        <p>Apenas 1,9% da população brasileira doa sangue.</p>

        <button>Quero ajudar</button>
    </header>

    <section class="form hide">
        <h2>Entre na lista de doadores</h2>
        <form action="/insert" method="POST">
            <input type="text" name="name" placeholder="Nome Completo" id="name" required>
            <input type="text" name="email" placeholder="Email" id="email" required>
            <input type="text" name="blood" placeholder="Tipo Sanguineo" id="blood" required>
            <button>Quero ajudar</button>
        </form>
    </section>

    <main>
        <h2>Últimos <span>doadores</span></h2>
        <section class="donors">

            <% for(let i = 0; i < donors.length; i++) { %>
            <div class="donor">
                <div class="blood"><%= donors[i].blood %></div>
                <p><%= donors[i].name %></p>
            </div>
            <% } %>

        </section>

        <form action="/delete" method="GET">
            <button id="btnLimpar">Deletar todos doadores</button>
        </form>

        <form action="/listDonors" method="POST" id="list">
            <button type="submit" name="blood" value="A+">Doadores A+</button>
            <button type="submit" name="blood" value="A-">Doadores A-</button>
            <button type="submit" name="blood" value="B+">Doadores B+</button>
            <button type="submit" name="blood" value="B-">Doadores B-</button>
            <button type="submit" name="blood" value="AB+">Doadores AB+</button>
            <button type="submit" name="blood" value="AB-">Doadores AB-</button>
            <button type="submit" name="blood" value="O+">Doadores O+</button>
            <button type="submit" name="blood" value="O-">Doadores O-</button>
        </form>

    </main>
    <script src="/js/scripts.js"></script>
    <footer>Doe 💉, doe ❤.</footer>
</body>

</html>