main h2 {
    margin-bottom: 70px;
}

main {
    text-align: center;
    margin: 0 auto 70px auto;
    /* Limites dos elementos da página*/
    width: 90%;
    max-width: 500px;
}

/* Main */
main .donors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

main h2 span {
    color: red;
}

.blood {
    color: #ff4f4f;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.blood::before {
    content: "";
    background-color: #ff4f4f11;
    width: 40px;
    height: 40px;
    position: absolute;
    /* Fazer a gotinha*/
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}

.donor p {
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 14px;
}